

$color-w:#ffffff;
$color-side: #2f3e51;
$color-side-header: #253141;
$color-boder: #eeeeee;
$color-member: #999999;
$color-member2: #333333;
$color-edit: #38aef0;
$color-message-b: #fafafa;
$color-text: #434A54;
$color-form:#d2d2d2;